#workspaces {
	margin-left: 5px;
}

#workspaces button {
	border-radius: 50%;
	min-width: 6px;
	min-height: 6px;
	padding: 0;
	margin: 0 5px 0 0;
	border: none;
	font-size: 0;
	background-color: @mantle;
}

#workspaces button.active {
	background-color: @yellow;
}
