#workspaces {
	margin-left: 5px;
	padding-left: 6px;
	padding-bottom: 3px;
	padding-top: 2px;
}

#workspaces button {
	border-radius: 50%;
	min-width: 6px;
	min-height: 6px;
	padding: 0;
	margin: 0 10px 0 0;
	border: none;
	font-size: 0;
	color: @mantle;
	background-color: @crust;
}

#workspaces button.active {
	color: @yellow;
	transition: color 0.3s ease;
}

#workspaces button:hover {
	color: @blue;
	background-color: @crust;
}
