* {
	border: none;
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 10px;
	min-height: 0;
}

window#waybar {
	background: rgba(21,18,27,0);
	color: #cdd6f4;
}

.module {
	background: @crust;
	opacity: 1.0;
	padding: 0px 4px;
	margin: 5px;
	border-radius: 12px;
}
