* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 10px;
	min-height: 0;
	border: none;
}

window#waybar {
	color: @text;
	background-color: transparent;
}

.module {
	opacity: 1;
	border-radius: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: @crust;
}

.tooltip {
	background: @crust;
	opacity: 1;
}
