* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 10px;
	min-height: 0;
	border: none;
}

window#waybar {
	color: @text;
	background-color: transparent;
}

.module {
	background: @crust;
	opacity: 1;
	margin: 5px;
	border-radius: 12px;
}

.tooltip {
	background: @crust;
	opacity: 1;
}
